<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leif.knowme.mapper.AccountMapper">

    <insert id="createAccount" parameterType="AccountDo">
        insert into t_account (account_id, account_no, account_name, password, user_id)
        values (#{accountId}, #{accountNo}, #{accountName}, #{password}, #{userId})
    </insert>

    <select id="queryAccount" resultType="AccountDo">
        SELECT *
        from t_account
        <where>
            <if test="accountId!=null">
                account_id = #{accountId}
            </if>
            <if test="accountNo!=null">
                and account_no = #{accountNo}
            </if>
            <if test="accountName!=null">
                and account_name = #{accountName}
            </if>
        </where>
    </select>


    <resultMap id="AccountMap1" type="com.leif.knowme.model.AccountDo">
        <id column="account_id" property="accountId"/>
        <result property="accountName" column="account_name"/>
        <result property="password" column="password"/>
        <association property="userDo" javaType="com.leif.knowme.model.UserDo">
            <id column="user_id" property="userId"/>
            <result property="name" column="name"/>
            <result property="birthday" column="birthday"/>
        </association>
    </resultMap>
    <resultMap id="AccountMap2" type="com.leif.knowme.model.AccountDo">
        <id column="account_id" property="accountId"/>
        <result property="accountName" column="account_name"/>
        <result property="password" column="password"/>
        <association property="userDo" select="com.leif.knowme.mapper.UserMapper.getUserById" column="user_id"/>
    </resultMap>
    <select id="getAccountById" resultMap="AccountMap2">
        SELECT *
        from t_account
        where account_id = #{accountId}
    </select>

</mapper>