<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leif.knowme.mapper.TodoMapper">

    <insert id="createTodo" parameterType="TodoDo">
        insert into t_todo(todo_id, account_id, plan_consumed, real_consumed, event_msg, status)
        values (#{todoId}, #{accountId}, #{planConsumed}, #{realConsumed}, #{eventMsg}, #{status})
    </insert>


    <update id="updateStatusByTodoIdAccountId">
        update t_todo
        set status=#{status}
        where account_id = #{accountId}
        <if test="todoId!=null">
            and todo_id = #{todoId}
        </if>
    </update>

    <select id="getTodos" resultType="TodoDo">
        select *
        from t_todo
        <where>
            <if test="todo.todoId!=null">
                todoId=#{todo.todoId}
            </if>
            <if test="todo.accountId!=null">
                and account_id=#{todo.accountId}
            </if>
            <if test="todo.type!= null">
                and type=#{todo.type}
            </if>
            <if test="status!=null">
                and status in
                <foreach collection="status" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        order by created
    </select>

    <select id="generateSchedule" resultType="TodoDo">
        select *
        from t_todo
        where account_id = #{accountId}
        order by created;
    </select>

    <select id="getTodosByIds" resultType="TodoDo">
        select * from t_todo where account_id=#{accountId} and todo_id in
        <foreach collection="todoIds" open="(" separator="," close=")" item="todoId">
            #{todoId}
        </foreach>
    </select>

    <update id="updateTodo" parameterType="TodoDo">
        update t_todo
        set event_msg=#{event_msg},
            plan_consumed = #{planConsumed}
        where todo_id = #{todoId}
    </update>

</mapper>